img {
  object-fit: cover;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form {
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.form-descr {
}

.form-input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  padding-left: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-input:hover {
  border: 1px solid #000;
}

.form-input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.search-btn {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.load-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  height: 200px;
  width: 360px;
  display: flex;
  flex-direction: column;
}

.big-img {
  height: 150px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 4px 20px;
}

.info-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 175%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.load-btn-hidden {
  display: none;
}
